<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Store Spotter</title>
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId="></script>
</head>
<body>
<div id="header"></div>
<div class="container">
    <div id="side-bar">
        <div>
            업종 선택
        </div>
        <div>
            주소 선택
        </div>
        <div>
            검색하기
        </div>
    </div>
    <div id="map" style="width:70%;height:500px;"></div>
</div>
<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);

    window.navermap_authFailure = function () {
        // 인증 실패 시 처리 코드 작성
        // ...
    }

    // 공통 header 불러오기
    $(document).ready(function () {
        $('#header').load('/templates/header.html');
    });
</script>
</body>
</html>