<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StoreSpotter Sing up</title>
    <link rel="StoreSpotter Icon" type="png" href="/css/img/main/free-icon-pin.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/loginSignUp/signUp.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<!--<body>-->
<!--<div th:replace="/header :: header"></div>-->
<!--    <div class="container" id="container">-->
<!--    <div class="sign-up-container">-->
<!--        <form id="signUpForm" th:action="@{/member/signup}" th:object="${memberDto}" method="POST">-->
<!--&lt;!&ndash;        <form id="signUpForm" method="post">&ndash;&gt;-->
<!--            <h1>Create Account</h1>-->
<!--&lt;!&ndash;            <span>use your email for registration</span>&ndash;&gt;-->
<!--            <input type="text" id="name" th:field="*{name}" placeholder="Name" />-->
<!--            <input type="email" id="email" th:field="*{email}" placeholder="Email" />-->
<!--            <small id="emailHelp"></small>-->
<!--            <input type="password" id="password" th:field="*{password}" placeholder="Password" />-->
<!--            <small id="passwordHelp">비밀번호는 문자, 숫자, 특수문자가 포함된 8-20자로 작성해주세요</small>-->
<!--            <input type="password" id="checkPassword" th:field="*{checkPassword}" placeholder="Repeat password" />-->
<!--            <small id="passwordCheckHelp">비밀번호가 일치하지 않습니다</small>-->
<!--            <input type="text" id="phone" th:field="*{phone}" placeholder="Phone" />-->
<!--            <button type="submit" id="signUpBtn">Sign Up</button>-->
<!--        </form>-->

<!--        <div class="separator"><p>OR</p></div>-->

<!--        <span>or use your account</span>-->
<!--        <div class="social-container">-->
<!--            <a href="#" class="social"><img src="/css/img/loginSignUp/naver-btnG_아이콘원형.png"></a>-->
<!--            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>-->
<!--            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->

<!--<script src="../js/header.js"></script>-->
<!--<script src="../js/loginSignUp/signUp.js"></script>-->
<!--</body>-->
<body>
<div th:replace="/header :: header"></div>
<div class="container" id="container">
    <div class="sign-up-container">
        <form id="signUpForm" th:action="@{/member/signup}" method="POST">
            <h1>Create Account</h1>
            <!--            <span>use your email for registration</span>-->
            <input type="text" id="name" name="name" placeholder="Name" />
            <input type="email" id="email" name="email" placeholder="Email" />
            <small id="emailHelp"></small>
            <input type="password" id="password" name="password" placeholder="Password" />
            <small id="passwordHelp">비밀번호는 문자, 숫자, 특수문자가 포함된 8-20자로 작성해주세요</small>
            <input type="password" id="checkPassword" placeholder="Repeat password" />
            <small id="passwordCheckHelp">비밀번호가 일치하지 않습니다</small>
            <input type="text" id="phone" name="phone" placeholder="Phone" />
            <button type="submit" id="signUpBtn">Sign Up</button>
        </form>

        <div class="separator"><p>OR</p></div>

        <span>or use your account</span>
        <div class="social-container">
            <a href="#" class="social"><img src="/css/img/loginSignUp/naver-btnG_아이콘원형.png"></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

    </div>
</div>

<script src="../js/header.js"></script>
<script src="../js/loginSignUp/signUp.js"></script>
</body>