<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StoreSpotter Sing up</title>
    <link rel="StoreSpotter Icon" type="png" href="/css/img/main/free-icon-pin.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/loginSignUp/signUp.css">
    <link rel="stylesheet" type="text/css" href="/css/loginSignUp/socialLogin.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="container" id="container">
    <div class="sign-up-container">
        <form id="signUpForm" th:action="@{/signup}" method="POST">
            <h1>Create Account</h1>
            <input type="text" id="name" name="nickName" placeholder="Name" />
            <div class="email-box">
                <input type="email" id="email" name="userName" placeholder="Email" />
                <button type="button" id="send-mail">send</button>
            </div>
            <small id="emailHelp"></small>
            <input id="mail-code" placeholder="메일 인증 코드" />
            <input type="password" id="password" name="password" placeholder="Password" />
            <small id="passwordHelp">비밀번호는 문자, 숫자, 특수문자가 포함된 8-20자로 작성해주세요</small>
            <input type="password" id="checkPassword" placeholder="Repeat password" />
            <small id="passwordCheckHelp">비밀번호가 일치하지 않습니다</small>
            <input type="text" id="phone" name="phone" placeholder="01012340000" />
            <small id="phoneCheckHelp">전화번호는 '-'를 제외한 숫자 11자리 입니다. ex) 01012340000</small>
            <button type="submit" id="signUpBtn">Sign Up</button>
        </form>

        <div th:replace="loginSignUp/socialLogin :: socialLogin"></div>
    </div>
</div>

<script src="/js/header.js"></script>
<script src="/js/loginSignUp/signUp.js"></script>
</body>