* {
    box-sizing: border-box;
}

html, body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #41637d;
    margin: 1.5rem;
}

h2 {
    text-align: center;
}

a {
    color: #333;
    font-size: 11pt;
    text-decoration: none;
    margin: 15px 0;
}

button {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    border: 1px solid #23567d;
    background-color: #23567d;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:hover {
    background: #6bb4d0;
    border: 1px solid #6bb4d0;
    transition: 0.2s ease;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6em 0 1em;
    text-align: center;
    position: relative;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 70%;
    max-width: 500px;
}

.container {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.sign-in-container {
    background: #fcfeff;
    height: 100%;
    width: 100%;
}

.social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.social-container a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social-container a img {
    width: 100%;
    height: auto;
}

.separator {
    font-family: 'Ubuntu', sans-serif;
    display: block;
    margin: 40px auto 40px;
    text-align: center;
    position: relative;
    color: #8a8a8a;
    font-size: 13px;
    width: 90%;
    max-width: 680px;
}

.separator:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: #969696;
    height:1px;
    width:45%;
}

.separator:after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: #969696;
    height: 1px;
    width: 45%;
}

#signUpBtn p {
    margin: 1.5em;
    color: #333;
    font-size: 11pt;
}

#signUpBtn p a {
    padding-left: 0.5em;
    color: #23567d;
    font-size: 12pt;
    font-weight: bold;
}

#findUserInfo:hover {
    color: #6bb4d0;
    transition: 0.2s ease;
    text-decoration: underline;
}


/*태블릿 - 900px 이하의 화면*/
@media screen and (max-width: 900px) {

    h1 {
        font-size: 2.5em;
    }


}

/*핸드폰*/
@media screen and (max-width: 414px)  {

    h1 {
        font-size: 2em;
    }

    a {
        font-size: 10pt;
        margin: 10px 0;
    }

    #signUpBtn p {
        margin: 1em;
        font-size: 10pt;
    }

    #signUpBtn p a {
        font-size: 11pt;
    }
}