<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="StoreSpotter Icon" type="png" href="/style/free-icon-pin.png">
    <title>Store Spotter</title>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2n6hjq6jro&submodules=geocoder"></script>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link href="https://www.flaticon.com/kr/free-icons/" title="아이콘  제작자: Freepik - Flaticon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&family=Ubuntu:wght@500&display=swap" rel="stylesheet"></head>
<body>
<div th:replace="/header :: header"></div>
<div class="container">
    <div id="side-bar">
        <div class="side-elem">
            <div class="side-elem-title">
                업종 선택
            </div>
            <div id="select-industry">
                <div class="select-industry-detail">편의점</div>
                <div class="select-industry-detail">카페</div>
            </div>
        </div>
        <div class="side-elem">
            <div class="side-elem-title">
                주소 선택
            </div>
            <div class="search-address">
                <input id="address" type="text" placeholder="도로명 주소 검색">
                <button type="button" id="map-search">주소검색</button>
            </div>
        </div>

<!--        <div>-->
<!--            <div class="side-elem">-->
<!--                <div class="side-elem-title">-->
<!--                    거리 선택-->
<!--                </div>-->
<!--                <div id="distance">-->
<!--                    <input id="dist-select" type="range" min="0" max="300" list="tickmarks" />-->
<!--                    <datalist id="tickmarks">-->
<!--                        <option value="50">50</option>-->
<!--                        <option value="100">100</option>-->
<!--                        <option value="150">150</option>-->
<!--                        <option value="200">200</option>-->
<!--                        <option value="250">250</option>-->
<!--                    </datalist>-->
<!--                    <output id="dist-value"></output>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div id="selectedValue"></div>
        <div class="side-elem">
            <button type="button" id="submit">검색하기</button>
        </div>

        <button type="button" id="side-bar-slide-btn"><img id="slide-btn" src="/style/free-icon-arrow.png" alt="side-bar 여닫기" ./></button>
    </div>
    <div id="map"></div>

</div>
<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);

    window.navermap_authFailure = function () {
        // 인증 실패 시 처리 코드 작성
        // ...
    }
</script>
<script src="/js/index/index_naverMapSearchApi.js"></script>
<script src="/js/index/index_sidebarButton.js"></script>

<script src="/js/header.js"></script>
</body>
</html>