<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.repository.storePair.DataRecommendMapper">
    <select id="selectByDist">
        <choose>
            <when test="indust_id == 'G20405'">
                SELECT
                st_nm,
                ST_AsText(st_coor) AS st_coor,
                com_nm,
                ST_AsText(com_coor) AS com_coor,
                dist,
                ST_AsText(ST_Centroid(LineString((st_coor), (com_coor)))) AS center_coor,
                pair_id
                FROM convenience_pair
                WHERE region_fk = #{region_fk} AND convenience_pair.dist > #{dist}
            </when>
            <when test="indust_id == 'I21201'">
                SELECT
                st_nm,
                ST_AsText(st_coor) AS st_coor,
                com_nm,
                ST_AsText(com_coor) AS com_coor,
                dist,
                ST_AsText(ST_Centroid(LineString((st_coor), (com_coor)))) AS center_coor,
                pair_id
                FROM cafe_pair
                WHERE region_fk = #{region_fk} AND cafe_pair.dist > #{dist}
            </when>
        </choose>
    </select>

    <select id="avgDist">
        <choose>
            <when test="indust_id == 'G20405'">
                SELECT AVG(dist) AS dist
                FROM convenience_pair
                WHERE region_fk = #{region_fk}
            </when>
            <when test="indust_id == 'I21201'">
                SELECT AVG(dist) AS dist
                FROM cafe_pair
                WHERE region_fk = #{region_fk}
            </when>
        </choose>
    </select>


</mapper>
