<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.dao.storePair.DataPairMapper">

    <select id="selectConvenienceData" parameterType="com.sojoo.StoreSpotter.dto.apiToDb.StoreInfo">
        SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk
        FROM convenience_store
    </select>

    <!-- 카페 데이터 -->
    <select id="selectCafeData" parameterType="com.sojoo.StoreSpotter.dto.apiToDb.StoreInfo">
        SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk
        FROM cafe
    </select>


    <insert id="insertPairData" keyProperty="bizes_id">
        INSERT INTO convenience_pair (pair_id, st_coor, com_coor, dist, region_fk)
        VALUES (#{pairData.pair_id}, #{pairData.st_coor}, #{pairData.com_coor}, #{pairData.dist}, #{pairData.region_fk}
    </insert>

    <select id="distanceSphere">
            SELECT ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) AS dist
            FROM convenience_store
            WHERE convenience_store.region_fk = #{region}
            order by dist
            LIMIT 3;
    </select>
</mapper>