<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.dao.storePair.DataPairMapper">

    <select id="selectIndustryData" parameterType="com.sojoo.StoreSpotter.dto.apiToDb.StoreInfo">
        <choose>
            <when test="indust_id == 'G20405'">
                SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk
                FROM convenience_store
            </when>
            <when test="indust_id == 'I21201'">
                SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk
                FROM cafe
            </when>
        </choose>
    </select>

<!--    <select id="selectConvenienceData" parameterType="com.sojoo.StoreSpotter.dto.apiToDb.StoreInfo">-->
<!--        SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk-->
<!--        FROM convenience_store-->
<!--    </select>-->

    <!-- 카페 데이터 -->
<!--    <select id="selectCafeData" parameterType="com.sojoo.StoreSpotter.dto.apiToDb.StoreInfo">-->
<!--        SELECT bizes_id, bizes_nm, rdnm_adr, ST_AsText(coordinates) AS coordinates, region_fk-->
<!--        FROM cafe-->
<!--    </select>-->


    <insert id="insertPairData" keyProperty="pair_id">
        <choose>
            <when test="indust_id == 'G20405'">
                INSERT INTO convenience_pair (st_nm, st_coor, com_nm, com_coor, dist, region_fk)
                VALUES ((#{pairData.st_nm}), ST_GeomFromText(#{pairData.st_coor}), #{pairData.com_nm}, ST_GeomFromText(#{pairData.com_coor}), #{pairData.dist}, #{pairData.region_fk})
            </when>
            <when test="indust_id == 'I21201'">
                INSERT INTO cafe_pair (st_nm, st_coor, com_nm, com_coor, dist, region_fk)
                VALUES ((#{pairData.st_nm}), ST_GeomFromText(#{pairData.st_coor}), #{pairData.com_nm}, ST_GeomFromText(#{pairData.com_coor}), #{pairData.dist}, #{pairData.region_fk})
            </when>
        </choose>
    </insert>


    <select id="distanceSphere" parameterType="com.sojoo.StoreSpotter.dto.storePair.PairData">
        <choose>
            <when test="indust_id == 'G20405'">
                SELECT ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) AS dist,
                       #{region} AS region_fk,
                       #{name} AS st_nm,
                       #{point} AS st_coor,
                       bizes_nm AS com_nm,
                       ST_AsWKT(coordinates) AS com_coor
                FROM convenience_store
                WHERE convenience_store.region_fk = #{region}
                  AND ST_Contains(ST_Buffer(ST_GeomFromText(#{point}), 1000), coordinates)
                  AND ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) > 0
                ORDER BY dist
                LIMIT 1;
            </when>
            <when test="indust_id == 'I21201'">
                SELECT ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) AS dist,
                #{region} AS region_fk,
                #{name} AS st_nm,
                #{point} AS st_coor,
                bizes_nm AS com_nm,
                ST_AsWKT(coordinates) AS com_coor
                FROM cafe
                WHERE cafe.region_fk = #{region}
#                 AND ST_Contains(ST_Buffer(ST_GeomFromText(#{point}), 1000), coordinates)
                AND ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) > 0
                ORDER BY dist
                LIMIT 1;
            </when>
        </choose>
    </select>
<!--    <select id="distanceSphere" parameterType="com.sojoo.StoreSpotter.dto.storePair.PairData">-->
<!--            SELECT ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) AS dist,-->
<!--                   #{region} AS region_fk,-->
<!--                   #{name} AS st_nm,-->
<!--                   #{point} AS st_coor,-->
<!--                   bizes_nm AS com_nm,-->
<!--                   ST_AsWKT(coordinates) AS com_coor-->
<!--            FROM convenience_store-->
<!--            WHERE convenience_store.region_fk = #{region} AND ST_DISTANCE_SPHERE(ST_GeomFromText(#{point}), coordinates) > 0-->
<!--            ORDER BY dist-->
<!--            LIMIT 1;-->
<!--    </select>-->





</mapper>