nav {
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    color: blue;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 10px;
}