#header {
    /*height: 10%;*/
    height: 65px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: solid 1.5px lightgrey;
    background-color: white;
    max-height: 76px;
}

.img {
    height: 25px;
    width: 25px;
    margin: 15px;
}


#StoreSpotter-icon {
    height: 40px;
    width: 40px;
    margin: 15px;
}

#title {
    font-family: 'Ubuntu', sans-serif;
    color: #41637d;
    text-decoration-line: none;
    font-size: x-large;
}

.title-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.header-ele {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: medium;
    text-decoration-line: none;
    padding: 10px;
    margin: 5px;
    color: gray;
    cursor: pointer;
}

.header-ele:hover {
    background-color: lightgrey;
    transition: 0.1s;
    border-radius: 20px;
    text-decoration: none;
    color: gray;
}


#userNickname-msg {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: medium;
    text-decoration-line: none;
    padding: 15px;
    color: gray;
}

#userNickname-msg span {
    color: #626665;
}


#menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-bar-btn {
    display: none;
}

#menu-bar-icon {
    height: 40px;
    width: 40px;
    margin: 15px;
}

/*태블릿 - 900px 이하의 화면*/
@media screen and (max-width: 900px) {
    #title {
        font-size: x-large;
    }

    /*로그인 회원가입 -> 메뉴 바*/

    .header-content{
        display: none;
    }
    /*.header-ele {*/
    /*    display: none;*/
    /*}*/

    #menu-bar-btn {
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        /*margin: 0px;*/
        padding-right: 15px;
        cursor: pointer;
    }

    .header-content.active {
        /*display: block;*/
        position: absolute;
        /*margin-top: 200px;*/
        margin-top: 9em;
        margin-right: 100px;
        background-color: #FFFFFF;
        width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 10px;
    }

    .header-ele {
        margin: 0;
        width: fit-content;
        padding: 10px;
        display: flex;
        align-content: center;
        justify-content: start;
    }
}

/*핸드폰*/
@media screen and (max-width: 414px)  {
    #header {
        height: 50px;
    }

    #title {
        font-size: large;
    }

    img {
        height: 30px;
        width: 30px;
    }

    /*.header-ele {*/
    /*    font-size: small;*/
    /*    padding: 10px;*/
    /*}*/
}
