
html, body {
    height: 100%;
    width: 100%;

    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    justify-items: start;

    height: 100%;
    width: 100%;
    position: absolute;
}

#map {
    width: 100%;
    height: 100%;

    position: absolute;
}

#slide-btn {
    width: 10px;
    height: 10px;
    transform: rotate(-180deg);
}

#side-bar-slide-btn {
    position: absolute;
    top: 40%;
    right: -20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    border: 1px solid lightgrey;
}

#side-bar-slide-btn:hover {
    background-color: rgb(228, 230, 231);
}

#side-bar {
    border-right: solid 1px lightgrey;
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 378px;
    height: 100%;
    transition: width 0.5s ease;
}

.side-elem-title {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: large;
    font-weight: bold;
    height: 35px;
    display: flex;
    align-items: center;
    /*padding: 10px;*/
    padding: 1rem;
}

.side-elem {
    border-bottom: solid 1px lightgrey;
    /*padding: 10px;*/
    transition: height 0.5s ease;
}

#select-industry {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: grid;
    grid-template-columns: repeat(3, minmax(70px, auto));
    gap: 5px;
    justify-items: center;
    /*margin: 10px;*/
    padding: 0 1rem 1rem 1rem;
}

.select-industry-detail {
    padding: 10px;
}

.select-industry-detail:hover {
    background-color: lightgrey;
    transition: 0.3s;
    border-radius: 15px;
}

#submit {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: medium;
    background-color: #41637d;
    border-radius: 10px;
    border:none;
    padding: 15px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
}

#submit:hover {
    background-color: lightblue;
    transition: 0.3s;
    font-weight: bold;
}

.search-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /*margin-bottom: 10px;*/
    padding: 0 1rem 1rem 1rem;
}

#address {
    width: 80%;
    height: 3rem;
    border-radius: 10px;
    border: solid 1px lightgray;
    text-indent: 1em;
}

#address-search {
    width: 15%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#address-search:hover {
    background-color: lightblue;
    transition: 0.3s;
    font-weight: bold;
}

#address-search img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

body {
    margin: 0;
}

#select-industry .select-industry-detail.selected {
    background-color: #41637d;
    border-radius : 10px;
}

#select-dist {
    display: none;
}

#dist-info img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#dist-info img:hover{
    background-color: lightgrey;
    transition: 0.3s;
    font-weight: bold;
    border-radius: 10px;
}

#dist-explain {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    /*top: 355px;*/
    top: 28em;
    /*right: 45px;*/
    right: 4em;
    width: auto;
    height: auto;
    background: white;
    border: solid 1px lightgrey;
    border-radius: 10px;
    z-index: 5;
    padding: 15px;
    font-size: small;
    margin-block-start: 0;
    margin-block-end: 0;
    gap: 4px;
}

#dist-explain::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent lightgrey;
    left: -11px;
    top: 3em;
}

#dist-explain::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0px;
    border-color: transparent white;
    left: -10px;
    top: 3em;
}


#distance{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
}

#dist-slider{
    width: 300px;
    height: 20px;
    accent-color: #41637d;
}

datalist {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: small;
    display: grid;
    grid-auto-flow: column;
    width: 350px;
}

output {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: medium;
    font-weight: bold;
}

.tick {
    position: relative;
    width: 1px;
    height: 5px;
    background-color: #333;
    display: inline-block;
    margin-right: 10px;
}

#show-avg-dist {
    font-family: 'IBM Plex Sans KR', sans-serif;
    display: none;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    gap: 10px;
}

.main{
    margin: 0 auto;
    text-align: center;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.droplet_spinner {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.droplet_spinner .droplet {
    width: 15px;
    height: 15px;
    margin: 0 5px;

    background-color: #e14242;
    border-radius: 50%;
    transform-origin: center bottom;

    animation: bounce 1.2s cubic-bezier(0.3, 0.01, 0.4, 1) infinite;
}

.droplet_spinner .droplet:nth-child(1) {
    animation-delay: -0.4s;
}

.droplet_spinner .droplet:nth-child(2) {
    animation-delay: -0.2s;
}

.droplet_spinner .droplet:nth-child(3) {
    animation-delay: 0s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* 투명한 회색 배경 */
    z-index: 9998; /* 모달보다 앞에 위치 */
}

#modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    /*transform: translate(-50%, -50%);*/
    /*background-color: white;*/
    /*padding: 20px;*/
    /*border: 1px solid #ccc;*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);*/
    z-index: 9999;
    /*max-width: 80%; !* 모달 최대 너비 *!*/
    /*max-height: 80%; !* 모달 최대 높이 *!*/
    /*overflow: auto; !* 내용이 모달을 넘어갈 경우 스크롤 허용 *!*/
}


.iw_inner{
    border-radius: 20px;
    padding: 10px;
}

#near-button {
    margin-top: 10px;
    border : solid 1px lightgray;
    border-radius : 10px;
    background : #41637d;
    color: white;

}

.favorite-icon {
 font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24;
    color : darkred;
}

.favorite-icon.active {
    font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color : #e21818;
}

.material-symbols-outlined {
 font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
}

.copy-notification {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
}

#search-coord {
    width: 75px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: #41637d;
    color: white;
    cursor: pointer;
}

#search-coord:hover {
    background-color: #6796b4;
    transition: 0.3s;
}

#near-button {
    width: 95px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 15px;
    background: #41637d;
    color: white;
    cursor: pointer;
}

#near-button:hover {
    background-color: #6796b4;
    transition: 0.3s;
}

/*!* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*!*/
/*!*768 이상이면 해당 스타일 시트 적용*!*/
/*@media screen and (min-width:768px) and (max-width:1023px) {*/
/*    #side-bar {*/
/*        width: 40%;*/
/*    }*/

/*    #map {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*!* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*!*/
/*@media screen and (max-width:767px) {*/
/*        #side-bar {*/
/*            width: 80%;*/
/*        }*/

/*        #map {*/
/*            width: 20%;*/
/*        }*/
/*}*/

/*!*pc*!*/
/*@media screen and (min-width: 1200px) {*/
/*    #side-bar {*/
/*        width: 25%;*/
/*    }*/

/*    #map {*/
/*        width: 75%;*/
/*    }*/
/*}*/

/*!*태블릿 가로*!*/
/*@media screen and (min-width: 1024px) and (max-width: 1119px) {*/
/*    #side-bar {*/
/*        width: 40%;*/
/*    }*/

/*    #map {*/
/*        width: 60%;*/
/*    }*/
/*}*/

/*!*태블릿 가로, 세로 & pc 작은 화면*!*/
/*@media screen and (min-width: 768px) and (max-width: 1023px) {*/
/*    #side-bar {*/
/*        width: 60%;*/
/*    }*/

/*    #map {*/
/*        width: 40%;*/
/*    }*/
/*}*/

/*!*모바일, 태블릿 세로*!*/
/*@media screen and (max-width: 767px) {*/
/*    #side-bar {*/
/*        width: 90%;*/
/*    }*/

/*    #map {*/
/*        width: 10%;*/
/*    }*/
/*}*/