<!--공통되는 header.html-->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="header">
        <div class="title-icon">
            <img src="/static/style/free-icon-pin.png" alt="store spotter 로고" ./>
            <h1>Store Spotter</h1>
        </div>
        <div>
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>