<!--공통되는 header.html-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="header" th:fragment="header">
        <div class="title-icon">
            <img class="img" id="StoreSpotter-icon" src="/css/img/main/free-icon-pin.png" alt="store spotter 로고" ./>
            <div><a id="title" href="/">Store Spotter</a></div>
        </div>
        <div id="menu-bar">
            <div id="menu-bar-btn"><img id="menu-bar-icon" src="/css/img/main/메뉴바.png"></div>

            <div id="header-content user" class="header-content" th:if="${userNickname}">
                <div>
                    <a id="userNickname-msg" th:if="${userNickname}">
                        <span th:text="${userNickname}"></span>님
                    </a>
                </div>
                <div><a class="header-ele" id="logout" th:text="로그아웃" th:href="@{/logout}"></a></div>
                <div><a class="header-ele" th:text="마이페이지" th:href="@{/mypage}"></a></div>
            </div>

            <div id="header-content" class="header-content" th:unless="${userNickname}">
                <div><a class="header-ele" th:text="로그인" th:href="@{/login}"></a></div>
                <div><a class="header-ele" th:text="회원가입" th:href="@{/signup}"></a></div>
            </div>
        </div>
    </div>
</body>
</html>