<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StoreSpotter Sing up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;500&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/signIn-signUp/signUp.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:replace="/header :: header"></div>
    <div class="container" id="container">
    <div class="sign-up-container">
        <form id="signUpForm" th:action="@{/member/signup}" th:object="${member}" method="post">
<!--        <form id="signUpForm" method="post">-->
            <h1>Create Account</h1>
<!--            <span>use your email for registration</span>-->
            <input type="text" id="name" th:field="*{name}" placeholder="Name" />
            <input type="email" id="email" th:field="*{email}" placeholder="Email" />
            <input type="password" id="password" th:field="*{password}" placeholder="Password" />
            <small id="passwordHelp">비밀번호는 문자, 숫자, 특수문자가 포함된 8-20자로 작성해주세요</small>
            <input type="password" id="checkPassword" th:field="*{checkPassword}" placeholder="Repeat password" />
            <small id="passwordCheckHelp">비밀번호가 일치하지 않습니다</small>
            <input type="text" id="phone" th:field="*{phone}" placeholder="Phone" />
            <button type="submit" id="signUpBtn">Sign Up</button>
        </form>

        <div class="separator"><p>OR</p></div>

        <span>or use your account</span>
        <div class="social-container">
            <a href="#" class="social"><img src="/style/signIn-signUp/naver-btnG_아이콘원형.png"></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>

    </div>
</div>

<script src="/js/header.js"></script>
<script  src="/js/signIn-signUp/signUp.js"></script>
</body>