<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.dao.apiToDb.StoreInfoMapper">
    <delete id="deleteIndustTable" parameterType="map">
        <choose>
            <!-- 편의점 delete -->
            <when test="indust_id == 'G20405'">
                TRUNCATE TABLE convenience_store;
            </when>
            <!-- 카페 delete -->
            <when test="indust_id == 'I21201'">
                TRUNCATE TABLE cafe;
            </when>
        </choose>
    </delete>
</mapper>