<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="/Applications/StoreSpotter/src/main/java/com/sojoo/StoreSpotter/dao/apiToDb/StoreInfoMapper.java">
<!-- Store Info Insert Query -->
<insert id="insertStoreInfo" parameterType="/Applications/StoreSpotter/src/main/java/com/sojoo/StoreSpotter/dto/apiToDb/StoreInfoDTO.java">
    INSERT INTO store_info (bizesId, bizesNm, rdnmAdr)
    VALUES (#{bizesId}, #{bizesNm}, #{rdnmAdr})
</insert>
</mapper>
