<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.dao.apiToDb.StoreInfoMapper">
<!-- Store Info Insert Query -->
    <insert id="insertIndustryData" keyProperty="bizesId">
        INSERT INTO store_info(bizesId, bizesNm, rdnmAdr)
        VALUES (#{bizesId}, #{bizesNm}, #{rdnmAdr})
    </insert>
<!--    <select id="selectAll"-->
<!--            resultType = "Storeinfo">-->
<!--        select * from storeInfo;-->
<!--    </select>-->

</mapper>

