<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sojoo.StoreSpotter.dao.apiToDb.StoreInfoMapper">
    <!-- Store Info Insert Query -->
    <!--    <insert id="insertIndustryData" keyProperty="bizesId">-->
    <!--        INSERT INTO -->
    <!--            store_info(bizesId, bizesNm, rdnmAdr, lon, lat)-->
    <!--        VALUES (#{bizesId}, #{bizesNm}, #{rdnmAdr})-->
    <!--    </insert>-->
    <insert id="insertApiData" keyProperty="bizesId" parameterType="map">
        <choose>
            <!-- 편의점 -->
            <!-- 서울 -->
            <when test="indust_id == 'G20405' and region_id == '11'">
                INSERT INTO convenience_seoul (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 부산 -->
            <when test="indust_id == 'G20405' and region_id == '26'">
                INSERT INTO convenience_busan (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 대구 -->
            <when test="indust_id == 'G20405' and region_id == '27'">
                INSERT INTO convenience_daegu (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 인천 -->
            <when test="indust_id == 'G20405' and region_id == '28'">
                INSERT INTO convenience_incheon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 광주 -->
            <when test="indust_id == 'G20405' and region_id == '29'">
                INSERT INTO convenience_gwangju (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 대전 -->
            <when test="indust_id == 'G20405' and region_id == '30'">
                INSERT INTO convenience_daejeon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 울산 -->
            <when test="indust_id == 'G20405' and region_id == '31'">
                INSERT INTO convenience_ulsan (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 세종 -->
            <when test="indust_id == 'G20405' and region_id == '36'">
                INSERT INTO convenience_sejong (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 경기 -->
            <when test="indust_id == 'G20405' and region_id == '41'">
                INSERT INTO convenience_gyeonggi (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 충청북도 -->
            <when test="indust_id == 'G20405' and region_id == '43'">
                INSERT INTO convenience_chungcheongbukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 충청남도 -->
            <when test="indust_id == 'G20405' and region_id == '44'">
                INSERT INTO convenience_chungcheongnamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 전라북도 -->
            <when test="indust_id == 'G20405' and region_id == '45'">
                INSERT INTO convenience_jeollabukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 전라남도 -->
            <when test="indust_id == 'G20405' and region_id == '46'">
                INSERT INTO convenience_jeollanamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 경상북도 -->
            <when test="indust_id == 'G20405' and region_id == '47'">
                INSERT INTO convenience_gyeongsangbukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 경상남도 -->
            <when test="indust_id == 'G20405' and region_id == '48'">
                INSERT INTO convenience_gyeongsangnamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 제주 -->
            <when test="indust_id == 'G20405' and region_id == '50'">
                INSERT INTO convenience_jeju (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 강원 -->
            <when test="indust_id == 'G20405' and region_id == '51'">
                INSERT INTO convenience_gangwon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 카페 -->
            <!-- 서울 -->
            <when test="indust_id == 'I21201' and region_id == '11'">
                INSERT INTO cafe_seoul (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <!-- 부산 -->
            <when test="indust_id == 'I21201' and region_id == '26'">
                INSERT INTO cafe_busan (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '27'">
                INSERT INTO cafe_daegu (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '28'">
                INSERT INTO cafe_incheon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '29'">
                INSERT INTO cafe_gwangju (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '30'">
                INSERT INTO cafe_daejeon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '31'">
                INSERT INTO cafe_ulsan (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>

            <when test="indust_id == 'I21201' and region_id == '36'">
                INSERT INTO cafe_sejong (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '41'">
                INSERT INTO cafe_gyeonggi (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '43'">
                INSERT INTO cafe_chungcheongbukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '44'">
                INSERT INTO cafe_chungcheongnamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '45'">
                INSERT INTO cafe_jeollabukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '46'">
                INSERT INTO cafe_jeollanamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '47'">
                INSERT INTO cafe_gyeongsangbukdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '48'">
                INSERT INTO cafe_gyeongsangnamdo (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '50'">
                INSERT INTO cafe_jeju (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
            <when test="indust_id == 'I21201' and region_id == '51'">
                INSERT INTO cafe_gangwon (bizesId, bizesNm, rdnmAdr, lon, lat)
                VALUES (#{storeInfo.bizesId}, #{storeInfo.bizesNm}, #{storeInfo.rdnmAdr}, #{storeInfo.lon}, #{storeInfo.lat})
            </when>
        </choose>
    </insert>

</mapper>

